@model RecipesWebApplication.Repository.Recipe

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <div class="row">
                <div class="col-lg-3">
                    <label for="RecipeName">Recipe Name:</label>
                </div>
                <div class="col-lg-9">
                    @Model.RecipeName
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="RecipeCategories">Category:</label>
                </div>
                <div class="col-lg-9">
                    @Model.RecipeCategory.RecipeCategory1
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <div class="row">
                <div class="col-lg-4">
                    <label for="PrepTime">Prep Time</label>
                </div>
                <div class="col-lg-2">
                    @Model.PrepTime
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label for="CookTime">Cook Time</label>
                </div>
                <div class="col-lg-2">
                    @Model.CookTime
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="TotolTime">Total Time</label>
                    </div>
                    <div class="col-lg-2">
                        @Model.TotalTime
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Recipe Ingredients</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody id="RecipeIngredientList">
                    @foreach (var i in Model.RecipeIngredients)
                    {
                        <tr class="RecipeIngredient">
                            <td>
                                <label name="ingredient"></label>
                                @i.Ingredient.IngredientName
                            </td>
                            <td>
                                @i.Amount
                            </td>

                            <td>
                                @i.MeasureType.MeasureType1
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Recipe Instructions</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="RecipeStepList">
                    @foreach (var i in Model.RecipeSteps)
                    {
                        <tr class="RecipeStep">
                            <td>@i.StepNumber</td>
                            <td>
                                @i.Instruction
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
