@model RecipesWebApplication.Models.RegisterVM


    @using (Html.BeginForm("Registration", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(s => s.ReturnURL)

        <h1>Register Account</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <label for="UserEmail">Email:</label>
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(s => s.UserEmail, new { @placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.UserEmail)
                </div>


            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="Username">Username:</label>
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(s => s.Username, new { @placeholder = "Username", @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.Username)
                </div>


            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="Password">Password:</label>
                </div>
                <div class="col-lg-4">
                    @Html.PasswordFor(s => s.Password, new { @placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.Password)
                </div>
  

            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="FirstName">First Name:</label>
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(s => s.FirstName, new { @placeholder = "First Name", @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.FirstName)
                </div>


            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="LastName">LastName:</label>
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(s => s.LastName, new { @placeholder = "LastName", @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.LastName)
                </div>


            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="isRemember">Remember Me</label>
                </div>
                <div class="col-lg-4">
                    @Html.CheckBoxFor(s => s.isRemember, new { @class = "form-check" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </div>
    }

